Constraint: {{ constraint.description }}

    Scenario: {{ constraint.scenario }}
        Given {{ constraint.given }}
        When {{ constraint.when }}
        Then {{ constraint.then }}

        Examples:
            | |
            | |
