[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ project.name }}"
authors = [
  {name = "", email = ""},
]
description = "{{ project.name }}"
requires-python = ">=3.8"
keywords = []
license = {text = ""}
classifiers = [
        "Programming Language :: Python :: 3",
]
dependencies = []
dynamic = ["version", "readme"]

[project.optional-dependencies]
dev = ["flake8", "autopep8", "pynvim", "pytest-bdd", "pytest-order"]

[project.scripts]
{{ project.name }} = ""

[tool.setuptools.dynamic]
version = {attr = ""}
readme = {file = ["README.md"]}


