[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ project.name }}"
authors = [
  {name = "", email = ""},
]
description = "{{ project.name }}"
requires-python = ">=3.13"
keywords = []
license = {text = ""}
classifiers = [
        "Programming Language :: Python :: 3",
]
dependencies = []
dynamic = ["version", "readme"]

[project.optional-dependencies]
dev = ["flake8",
       "black",
       "pre-commit",
       "pynvim",
       "pytest-bdd",
       "pytest-order"]

[project.scripts]
{{ project.name }} = ""

[tool.setuptools.dynamic]
version = {attr = ""}
readme = {file = ["README.md"]}

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
