import setuptools

with open("README.md", "r") as fh:
    long_description = fh.read()

setuptools.setup(
    name="{{ project.name }}",
    version="0.0.0",
    description="{{ project.name }}",
    url="",
    author="",
    author_email="",
    packages=setuptools.find_packages(),
    install_requires=[],
    entry_points="",
    classifiers=[
        "License::MIT License",
        "implemented-in::Python",
    ],
    python_requires='>=3.8',
)

