import os
import pytest

from pytest_bdd\
    import scenario, given, when, then, parsers

from {{ project.snakename }}.tests.factory\
    import Factory

STORAGE_ENGINE = "INMEMORY"
__fullpath = os.path.dirname(os.path.abspath(__file__))


@scenario(f"{__fullpath.split('/{{ project.name }}/')[0]}"
          "/{{ project.name }}/{{ project.snakename }}"
          "/features/{{ project.snakename }}/{{ feature.snakename }}.feature",
          "{{ feature.scenario }}")
def test_{{ feature.snakename }}():
    pass


@pytest.fixture(scope="function")
def context():
    return {}


@given(parsers.parse("{{ feature.given }}"))
def given_{{ feature.snakename }}(context):
    pass


@when(parsers.parse("{{ feature.when }}"))
def when_{{ feature.snakename }}(context):
    pass


@then(parsers.parse("{{ feature.then }}"))
def then_{{ feature.snakename }}(context):
    assert True == False
