import os
import pytest

from pytest_bdd\
    import scenario, given, when, then

STORAGE_ENGINE = "INMEMORY"
__fullpath = os.path.dirname(os.path.abspath(__file__))


@scenario(f"{__fullpath.split('/{{ project.name }}/')[0]}"
          "/{{ project.name }}/{{ project.snakename }}"
          "/features/{{ project.snakename }}/{{ feature.snakename }}.feature",
          "{{ feature.description }}")
def test_{{ feature.snakename }}():
    pass


@pytest.fixture(scope="function")
def context():
    return {}


@given("{{ feature.given }}")
def given_{{ feature.snakename }}(context):
    pass


@when("{{ feature.when }}")
def when_{{ feature.snakename }}(context):
    pass


@then("{{ feature.then }}")
def then_{{ feature.snakename }}(context):
    assert True == False
