import os

from pytest_bdd\
    import scenario, given, when, then, parsers

from {{ project.snakename }}.tests.factory\
    import Factory

STORAGE_ENGINE = "INMEMORY"
__fullpath = os.path.dirname(os.path.abspath(__file__))


@scenario(f"{__fullpath.split('/{{ project.name }}/')[0]}"
          "/{{ project.name }}/{{ project.snakename }}"
          "/features/{{ project.snakename }}/{{ feature.snakename }}.feature",
          "{{ feature.scenario }}")
def test_{{ feature.snakename }}():
    pass


@given(parsers.parse("{{ feature.given | replace('<', '{') | replace('>','}') }}"), target_fixture="context")
def given_{{ feature.snakename }}({% for param in feature.given.split('<')[1:] %}{{ param.split('>')[0] }}{% if not loop.last %}, {% endif %}{% endfor %}):
    return {
        {% for param in feature.given.split('<')[1:] %}
        "{{ param.split('>')[0] }}": {{ param.split('>')[0] }}{% if not loop.last %},{% endif %}

        {% endfor %}
    }


@when(parsers.parse("{{ feature.when | replace('<', '{') | replace('>','}') }}"))
def when_{{ feature.snakename }}(context, {% for param in feature.when.split('<')[1:] %}{{ param.split('>')[0] }}{% if not loop.last %}, {% endif %}{% endfor %}):
    pass


@then(parsers.parse("{{ feature.then | replace('<', '{') | replace('>','}') }}"))
def then_{{ feature.snakename }}(context, {% for param in feature.then.split('<')[1:] %}{{ param.split('>')[0] }}{% if not loop.last %}, {% endif %}{% endfor %}):
    assert True == False
